<h1>Round {{gameService.currentRound}} of {{gameService.rounds}}</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Guess stack</th>
        <th>Actual stack</th>
        <th>Round score</th>
        <th>Total score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of gameService.players; let i=index">
        <td>{{player.name}} {{markMaker(i)}}</td>
        <td>
          <input class="full-width form-control" type="number" autocomplete="off" placeholder="Guess stack" [(ngModel)]="buffer.guessBuffer[i]" [disabled]="!guessActive">
        </td>
        <td>
          <input class="full-width form-control" placeholder="Actual stack" autocomplete="off" type="number" [(ngModel)]="buffer.actualBuffer[i]" [disabled]="!actualActive">
        </td>
        <td>{{gameService.score[i]}}</td>
        <td>{{player.totalScore}}</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary" type="button" (click)="submitGuess()" [disabled]="!guessActive">Submit guess</button>
<button class="btn btn-primary" type="button" (click)="submitActual()" [disabled]="!actualActive">Submit actual</button>
<button class="btn btn-primary" type="button" (click)="nextRound()" [disabled]="!nextRoundActive">Next round</button>

<div *ngIf="errorMessage" class="alert alert-warning">{{errorMessage}}</div>

<loading *ngIf="isLoading"></loading>
