{
  "presets": [
    ["env", {
      "targets": {
        "chrome": "61"
      },
      "modules": false,
      "shippedProposals": true
    }],
    "stage-1",
    "react"
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
