{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "no-console": [0]
  },
  "plugins": [
    "eslint-plugin-html"
  ],
  "globals": {
    "Polymer": true,
    "Bridge": true,
    "lodash": true
  }
}
