@import "~material-design-lite/src/variables";

collapse {
  .content {
    transition: height 0.5s;
    overflow: hidden;
  }
  .title {
    button.mdl-button {
      width: 100%;
    }
    button.collapse-opened,
    button.collapse-opened:hover {
      background-color: $button-active-color;
    }
  }
}
