stack-input {
  .input-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    & > span {
      width: 5em;
      font-weight: 600;
      font-size: large;
    }
    .mdl-textfield {
      margin-right: 1em;
    }
  }
}
