.container {
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.handle {
  width: 24px;
  height: 24px;
  cursor: move;
  cursor: grab;

  .dragging & {
    cursor: move;
    cursor: grabbing;

    /*
     * No idea why react-sortable-hoc add pointer-events: none
     * Add this to enable changing the grab cursor
     */
    pointer-events: auto !important;
  }
}
