/* The div that contains whole table */
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Table element. Contains some general styling */
.table {
  table-layout: fixed;
  white-space: nowrap;

  & tr {
    height: 3.5em;
  }
}

/* Heading styling */
.head th {
  text-align: left;
  width: 300px;
  min-width: 100px;
  display: table-cell;
  font-weight: bold;
  font-size: 16px;
}

.body td {
  width: 300px;
  min-width: 100px;

  /* Caption styling */
  &:first-of-type {
    padding-right: 0.5em;
    display: table-cell;
    font-size: 16px;
    font-weight: 400;
  }
}
