/* The div that contains whole table */
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Table element. Contains some general styling */
.table {
  table-layout: fixed;
  white-space: nowrap;

  & tr {
    height: 3.5em;
  }
}

/* Heading styling */
.head th {
  text-align: left;
  width: 300px;
  min-width: 100px;
}

.body td {
  width: 300px;
  min-width: 100px;

  /* Style for caption */
  &:first-of-type {
    padding-right: 0.5em;
  }

  /* Maximize width of select component */
  & select {
    width: 100%;
  }
}
