@import "mdc-theme.global.css";
@import "../../node_modules/@material/button/dist/mdc.button.css";
@import "../../node_modules/@material/ripple/dist/mdc.ripple.css";
@import "../../node_modules/@material/textfield/dist/mdc.textfield.css";
@import "../../node_modules/@material/select/dist/mdc.select.css";
@import "../../node_modules/@material/toolbar/dist/mdc.toolbar.css";
@import "../../node_modules/@material/tabs/dist/mdc.tabs.css";

/* Use white color as default is black and cannot be seen easily */
.mdc-button--accent {
  color: white !important;
}

/* Add some margin for toolbar title */
.mdc-toolbar__title {
  margin-left: .5em;
}

/* Hide arrow from mdc-select component */
.mdc-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
