.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  width: 100%;
}

.player-name {
  text-align: left;
}

.dropdown {
  width: 100%;
  min-width: 100px;
}

.caption {
  white-space: nowrap;
  padding-right: 0.5em;
}

.row {
  height: 3em;
}
