.panel-container {
  padding-top: 1em;
}

.panel-heading {
  flex-basis: 33.33%;
  flex-shrink: 0;
  font-size: 0.9375rem;
}

.panel-subheading {
  flex-basis: 33.33%;
  font-size: 0.9375rem;
}

.skip-rounds-btn {
  margin-right: 1em !important;

  &:last-child {
    margin-right: 0 !important;
  }
}
