<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bridge-input-player.html">

<dom-module id="bridge-init">
  <style>
    :host {
      display: block;
      padding: 0 10px;
    }

    paper-material {
      background: white;
      box-sizing: border-box;
      margin: 8px;
      padding: 16px;
      border-radius: 2px;
    }

    .container {
      max-width: 920px;
      margin: 0 auto;
    }

  </style>
  <style is="custom-style" include="iron-flex iron-flex-factors"></style>

  <template>

    <div class="container">
      <h1>New Game</h1>
    </div>

    <div class="container">
      <paper-material>
        <bridge-input-player></bridge-input-player>
      </paper-material>
    </div>


  </template>

  <script>
    Polymer({
      is: 'bridge-init',
      properties: {
        players: {
          type: Array
        }
      },

      ready() {
        this.players = [{
          name: 'Hello'
        }, {
          name: 'hello2'
        }]
      },

      _deletePlayer(event) {
        console.log(event.model);
      },

      
    });
  </script>
</dom-module>
