<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bridge-input-player.html">

<dom-module id="bridge-init">
  <style>
    :host {
      display: block;
      padding: 0 10px;
    }

    paper-material {
      background: white;
      box-sizing: border-box;
      margin: 8px;
      padding: 16px;
      border-radius: 2px;
    }

    .container {
      max-width: 920px;
      margin: 0 auto;
    }

  </style>
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment"></style>

  <template>

    <div class="container">
      <h1>New Game</h1>
    </div>

    <div class="container">
      <paper-material>
        <bridge-input-player value="{{playerNames}}"></bridge-input-player>
      </paper-material>
    </div>

    <div class="container">
      <paper-material>
        <paper-input class="flex-5" label="Number of cards" value="{{numberOfCard}}"></paper-input>
      </paper-material>
    </div>

    <div class="container">
      <paper-material>
        <h3>Game Informations</h3>
        <p>Number of players: [[playerNames.length]]</p>
        <p>Rounds: [[_countRound(playerNames.length, numberOfCard)]]</p>
      </paper-material>
    </div>


  </template>

  <script>
    Polymer({
      is: 'bridge-init',
      properties: {
        playerNames: {
          type: Array
        },
        numberOfCard: {
          type: Number,
          value: 52
        }
      },

      _countRound() {
        if (this.numberOfCard && this.playerNames) {
          return Math.floor(this.numberOfCard / this.playerNames.length);
        }
        return '';
      }

    });
  </script>
</dom-module>
