<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../bridge-input-player.html">
<link rel="import" href="../bridge-player-name.html">
<link rel="import" href="../bridge-data.html">
<link rel="import" href="../lodash/isinteger.html">

<dom-module id="bridge-init">
  <style>
    :host {
      display: block;
      padding: 0 10px;
    }

    paper-material {
      background: white;
      box-sizing: border-box;
      margin: 8px;
      padding: 16px;
      border-radius: 2px;
    }

    .container {
      max-width: 920px;
      margin: 0 auto;
    }

    #start {
      background: var(--paper-green-500);
      color: white;
    }

    #redirect {
      display: none;
    }

  </style>

  <template>

    <div class="container">
      <h1>New Game</h1>
    </div>

    <div class="container">
      <paper-material>
        <bridge-input-player value="{{playerNames}}"></bridge-input-player>
      </paper-material>
    </div>

    <div class="container">
      <paper-material>
        <paper-input label="Number of cards" value="{{numberOfCard}}" type="number"></paper-input>
      </paper-material>
    </div>

    <div class="container">
      <paper-material>
        <h3>Game Informations</h3>
        <p>Number of players: [[playerNames.length]]</p>
        <p>Rounds: [[_countRound(playerNames.length, numberOfCard)]]</p>
        <paper-button raised id="start">Start</paper-button>
      </paper-material>
    </div>

    <paper-toast fit-into=[[headerLayout]] id="toast" text="{{toastMessage}}"></paper-toast>

    <bridge-data id="bridgeData"></bridge-data>

    <a href="/game" id="redirect"></a>

  </template>

  <script>
    Polymer({
      is: 'bridge-init',
      properties: {
        playerNames: {
          type: Array
        },
        numberOfCard: {
          type: Number,
          value: 52
        },
        toastMessage: {
          type: String,
          value: null
        }
      },

      listeners: {
        'start.click': '_start'
      },

      ready() {
        this.headerLayout = Bridge.headerLayout;
      },

      _initPlayerNames() {
        this.playerNames = [Bridge.randomName(),Bridge.randomName(),Bridge.randomName(),Bridge.randomName()];
      },

      _initNumberOfCard() {
        this.numberOfCard = 52;
      },

      _countRound() {
        return Math.floor(this.numberOfCard / this.playerNames.length);
      },

      _validator() {
        if (!lodash.isInteger(this.numberOfCard)) {
          return 'Poker card must be an integer larger than 0. How do you get 0.5 card?';
        }

        if (this.playerNames.length <= 1) {
          return 'A game cannot be started with no none';
        }

        if (this.playerNames.length > this.numberOfCard) {
          return 'Too many players detected. Or you got too few card.';
        }

        return null;
      },

      _start() {
        let res = this.$.bridgeData.start(this.numberOfCard, this.playerNames);
        if (res) {
          this.toastMessage = res;
          this.$.toast.open();
          return
        } else {
          // FIXME This is a hacky way to change route
          this.$.redirect.click();
        }
      }

    });
  </script>
</dom-module>
