.optionsBtn {
  display: block;
  width: 100%;
}

.startBtn {
  margin-top: 1em;
}

.errorMessage {
  color: rgb(222, 50, 38);
  padding-left: 1em;
}

.action-button-container {
  display: flex;
}

.action-button-container > div:last-child {
  margin-left: auto;
}
