.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input,
.input input{
  width: 100%;
}

.handle {
  width: 24px;
  height: 24px;

  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.dragging .handle {
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  /*
   * No idea why react-sortable-hoc add pointer-events: none
   * Add this to enable changing the grab cursor
   */
  pointer-events: auto !important;
}
