@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

input.full-width {
  width: 100%;
}

div.alert {
  margin-top: 1rem;
}

.pull-right {
  float: right !important;
}
