.table-container {
  overflow-x: auto;
}

.table {
  white-space: nowrap;
}

.scoreboard-container {
  margin-top: 1em;
}

.error-text {
  color: var(--error-text-color) !important;
}

.total-score td {
  font-weight: bold;
}
