<form role="form" class="form-horizontal" (ngSubmit)="onSubmit()">
  <legend>New Game</legend>

  <div class="card card-block">
    <div class="row form-group" *ngFor="let p of _gameService.players; let i=index">
      <label for="name" class="form-control-label col-sm-2">Player {{i+1}} name:</label>
      <div class="col-sm-8">
        <input class="full-width form-control" type="text" placeholder="Player {{i + 1}} name" autocomplete="off" [(ngModel)]="_gameService.players[i].name">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-danger" (click)="removeField(i)">Remove player {{i + 1}}</button>
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row form-group">
      <label for="cardCount" class="form-control-label col-sm-2">Number of poker card</label>
      <div class="col-sm-10">
        <input class="full-width form-control" type="number" placeholder="poker card" autocomplete="off" [(ngModel)]="_gameService.cardCount">
      </div>
    </div>
  </div>

  <div class="card card-block">
    <h3 class="card-title">Game information</h3>
    <p>Player count: {{_gameService.players.length}}</p>
    <p>Expected rounds: {{roundCount}}</p>
  </div>

  <button class="btn btn-info" type="button" (click)="addField()">Add Player</button>
  <button class="btn btn-success pull-right" type="submit">Start Game</button>
</form>

<loading *ngIf="isLoading"></loading>
<div *ngIf="err" class="alert alert-warning">{{err}}</div>
