.options-btn {
  display: block;
  width: 100%;
}

.start-btn-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-message {
  color: rgb(222, 50, 38);
  padding-left: 1em;
}

.action-button-container {
  display: flex;
  justify-content: space-between;
}

.options-root-container {
  display: flex;
  flex-direction: column;
}

.options-container {
  display: flex;
  align-items: center;
  & > span {
    flex-grow: 1;
  }
  & > div {
    flex-grow: 5;
  }
  & select {
    width: 100%;
  }
}
