.options-btn {
  width: 100%;
}

.start-btn-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-button-container {
  display: flex;
  justify-content: space-between;
}

.options-section {
  margin-top: 1em;
}

.options-root-container {
  display: flex;
  flex-direction: column;
}

.options-dropdown {
  width: 100% !important;
}

.text {
  color: var(--text-color);
}
