/* Material Design Lite */
@import "~material-design-lite/src/color-definitions";

$color-primary: $palette-pink-500 !default;
$color-primary-dark: $palette-pink-700 !default;
$color-accent: $palette-teal-A200 !default;

// https://github.com/google/material-design-lite/issues/4093
$input-text-label-color: unquote("rgba(#{$color-black}, 0.38)");

// Disabled textbox should have a lighter color
$input-text-bottom-border-color: unquote("rgba(#{$color-black}, 0.38)");
$input-text-disabled-color: unquote("rgba(#{$color-black}, 0.12)");

// Variables and mixins
@import "~material-design-lite/src/variables";
@import "~material-design-lite/src/mixins";

// Resets and dependencies
@import "~material-design-lite/src/resets/resets";
@import "~material-design-lite/src/typography/typography";

// Components
@import "~material-design-lite/src/palette/palette";
@import "~material-design-lite/src/ripple/ripple";
@import "~material-design-lite/src/animation/animation";
@import "~material-design-lite/src/badge/badge";
@import "~material-design-lite/src/button/button";
@import "~material-design-lite/src/card/card";
@import "~material-design-lite/src/checkbox/checkbox";
@import "~material-design-lite/src/chip/chip";
@import "~material-design-lite/src/data-table/data-table";
@import "~material-design-lite/src/dialog/dialog";
@import "~material-design-lite/src/footer/mega_footer";
@import "~material-design-lite/src/footer/mini_footer";
@import "~material-design-lite/src/icon-toggle/icon-toggle";
@import "~material-design-lite/src/list/list";
@import "~material-design-lite/src/menu/menu";
@import "~material-design-lite/src/progress/progress";
@import "~material-design-lite/src/layout/layout";
@import "~material-design-lite/src/radio/radio";
@import "~material-design-lite/src/slider/slider";
@import "~material-design-lite/src/snackbar/snackbar";
@import "~material-design-lite/src/spinner/spinner";
@import "~material-design-lite/src/switch/switch";
@import "~material-design-lite/src/tabs/tabs";
@import "~material-design-lite/src/textfield/textfield";
@import "~material-design-lite/src/tooltip/tooltip";
@import "~material-design-lite/src/shadow/shadow";
@import "~material-design-lite/src/grid/grid";

// mdl overrides
.mdl-textfield__label {
  .mdl-textfield--floating-label.is-dirty &,
  .mdl-textfield--floating-label.has-placeholder & {
    color: $input-text-label-color;
  }
  .mdl-textfield--floating-label.is-focused & {
    color: $input-text-highlight-color;
  }
}

// Change border-bottom to dashed so that disabled is more visible
.mdl-textfield__input {
  fieldset[disabled] .mdl-textfield &,
  .mdl-textfield.is-disabled & {
    background-color: transparent;
    border-bottom: 1px dashed $input-text-disabled-color;
    color: $input-text-disabled-text-color;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 16px;
  }
}
