.container {
  width: 90%;
  max-width: 100em;
  margin: 0 auto;
  padding-bottom: 8px;
}

.pull-right {
  float: right;
}

.back-nav {
  padding-right: 0.5em !important;
}

.full-width {
  width: 100%;
}

.padding-1 {
  padding: 1em;
}

.table-container {
  overflow-x: auto;
}
