.container {
  flex: 1 1 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto 100px;

  /* padding-left: 24px;
  padding-right: 24px; */

  /* md */
  @media (min-width: 768px) and (max-width: 992px) {
    & {
      max-width: 750px;
    }
  }

  /* lg */
  @media (min-width: 992px) and (max-width: 1200px) {
    & {
      max-width: 960px;
    }
  }

  /* xl */
  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }
}
