<h1>Scoreboard</h1>

<div class="table-responsive" *ngIf="gameStarted">
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Round</th>
        <th *ngFor="let player of gameService.players">{{player.name}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let _ of gameService.players[0].score; let round=index">
        <td>{{round + 1}}</td>
        <td *ngFor="let player of gameService.players">{{player.score[round]}}</td>
      </tr>
      <tr class="table-active">
        <td>Total</td>
        <td *ngFor="let player of gameService.players">{{player.totalScore}}</td>
      </tr>
      <tr class="table-active">
        <td>Max combo</td>
        <td *ngFor="let player of gameService.players">{{player.maxCombo}}</td>
      </tr>
      <tr class="table-active">
        <td></td>
        <td *ngFor="let player of gameService.players">{{player.comment}}</td>
      </tr>
    </tbody>

  </table>
</div>

<button class="btn btn-success" type="button" (click)="newGame()">Start new game</button>
<loading *ngIf="isLoading"></loading>
